<h1>Burgers!</h1>

<ul>
    {{#each burgers}}
        <li>{{burger_name}}
            {{#unless eaten}}
                <button data-id={{id}} class="eatBtn">Eat me!</button>
            {{/unless}}
        </li>
    {{/each}}
</ul>

<form>
    <label for="burgerName">Order a burger:</label>
    <input type="text" placeholder="Enter the name of your Burger" name="burgerName" id="burgerName">
    <button id="orderBtn" type="submit">Order your burger!</button>
</form>