<h1>Burgers!</h1>

<h2>Available Burgers!</h2>
<ul>
    {{#each availableBurgers}}
        <li>{{burger_name}}
            <button data-id={{id}} class="eatBtn">Eat me!</button>
        </li>
    {{/each}}
</ul>

<h2>Previous Orders</h2>
<ul>
    {{#each eatenBurgers}}
        <li>{{burger_name}}
            <button data-id={{id}} class="eatBtn">Order again!</button>
        </li>
    {{/each}}
</ul>



<form>
    <label for="burgerName">Order a burger:</label>
    <input type="text" placeholder="Enter the name of your Burger" name="burgerName" id="burgerName">
    <button id="orderBtn" type="submit">Order your burger!</button>
</form>