body {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.title {
    font-family: 'Sriracha', cursive;
}

.container {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
}


.flexEl {
    flex: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
}

li{
    list-style: none;
    text-align: left;
}

@media (max-width: 1000px){
    .container{
        flex-direction: column;
    }

}